<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main2.css">
    <title>LogIn</title>
</head>
<body>
    <div class="container">   
        <h1> Please log-in to access your Dashboard </h1>
        <form method="POST" action="/login">
            <input type="text" id="name" name="name" required placeholder="Enter your name">
            <br>
            <input type="password" id="password" name="password" required placeholder="Enter your password">
            <br>
            <input type="submit" value="login" id="login">
        </form>
    </div>
</body>
</html>